html {
  height: 100%;
}

body * {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(rgb(46, 46, 154), rgb(14, 12, 58));
  color: white;
  margin: 0px;
  padding: 20px;
}

main {
  height: 100%;
}

h1 {
  font-family: 'Patua One', serif;
}

button {
  padding: 0px 20px;
  line-height: 36px;
  font-size: 14px;
  border-radius: 5px;
  background: none;
  color: white;
  border: 1px solid white;
}

button:hover {
  background: rgba(0,0,0,.05);
}

button:focus {
  outline: none;
}

.intro-results-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 90vh;
}

.container {
  background-color: rgba(255, 255, 255, .3);
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0px auto;
  margin-top: 40px;
}

p {
  margin: 10px 0px;
}

fieldset {
  border: none;
}

label {
  display: flex;
  line-height: 40px;
  align-items: center;
}

input {
  margin-right: 10px;
  margin-top: 0px;
}

.image {
  height: 200px;
  width: 200px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 20px;
}

.hidden {
  display: none;
}
