@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

html {
  height: 100%;
}

body * {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-shadow: 0px 0px 4px rgba(19, 19, 19, 0.2);
}

body {
  color: white;
  margin: 0px;
  height: 100%;
  width: 100%;
  /* position: absolute; */
}

main {
  height: 100%;
}

main {
  padding: 20px;
}

h1 {
  /* font-family: 'Patua One', serif; */
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 0px 20px;
  line-height: 36px;
  font-size: 14px;
  border-radius: 5px;
  background: none;
  color: white;
  border: 1px solid white;
  transition: all .3s ease;
}

button:hover {
  opacity: .6;
  cursor: pointer;
}

button:focus {
  outline: none;
}

label span {
  transition: all .3s ease;
  font-size: 14px;
}

label:hover  {
  opacity: .6;
  cursor: pointer;
}

.intro-results-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

.intro-results-container * {
  margin-bottom: 20px;
}

.container {
  background-color: rgba(255, 255, 255, .3);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 60px;
}

p, legend {
  margin-bottom: 10px;
  /* font-family: 'Patua One', serif; */
  line-height: 18px;
  font-size: 14px;
}


fieldset {
  border: none;
  margin-bottom: 10px;
}

label {
  margin: 0px 20px;
  display: flex;
  line-height: 40px;
  align-items: center;
}

input {
  margin-right: 10px;
  margin-top: 0px;
}

.image {
  height: 180px;
  width: 180px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 8px solid  white;
  border-bottom: 22px solid  white;
  box-shadow: 0px 0px 4px rgba(19, 19, 19, 0.1);
}

#jsIncorrectFeedback .image {
  height: 120px;
  width: 120px;
  border: 6px solid white;
  border-bottom: 16px solid white;
  box-shadow: 0px 0px 4px rgba(19, 19, 19, 0.1);

}

.banner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

#logo {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

.hidden {
  display: none;
}

#layerStars {
  position: absolute;
  z-index: -1;
}

.star {
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
  border-radius: 50%;
  padding: 2px;
}

#baseGradient, #gradientBgs, #gradientBgs * {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  transition: 1s ease;
}

.no-opacity {
  opacity: 0;
}

.blue-base {
  background: linear-gradient(rgba(46, 46, 154, .0), rgb(14, 12, 58));
}

.murky-blue-bg {
  background: linear-gradient(270deg, #1b1b52, #192c79, #3e2dab, #03315c);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 10s ease infinite;
  -moz-animation: murkyMovement 10s ease infinite;
  animation: murkyMovement 10s ease infinite;
}

.murky-red-bg {
  background: linear-gradient(270deg, #521b49, #8d1031, #8a176a, #b03301);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 20s ease infinite;
  -moz-animation: murkyMovement 20s ease infinite;
  animation: murkyMovement 20s ease infinite;
}

.murky-green-bg {
  background: linear-gradient(270deg, #13604c, #449857, #04723f, #009d22);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 20s ease infinite;
  -moz-animation: murkyMovement 20s ease infinite;
  animation: murkyMovement 20s ease infinite;
}

.murky-brown-bg {
  background: linear-gradient(270deg, #603d13, #8d5d15, #4b3700, #857702);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 20s ease infinite;
  -moz-animation: murkyMovement 20s ease infinite;
  animation: murkyMovement 20s ease infinite;
}

.murky-ltblue-bg {
  background: linear-gradient(270deg, #156d96, #009db1, #0f68a4, #0a91a9);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 20s ease infinite;
  -moz-animation: murkyMovement 20s ease infinite;
  animation: murkyMovement 20s ease infinite;
}

.murky-black-bg {
  background: linear-gradient(270deg, #384146, #1a2020, #434547, #282f30);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 20s ease infinite;
  -moz-animation: murkyMovement 20s ease infinite;
  animation: murkyMovement 20s ease infinite;
}

@-webkit-keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 0px;
    margin-bottom: 60px;
  }

  #jsIncorrectFeedback .image {
    float: left;
    margin-right: 10px;
    height: 118px;
    width: 110px;
    margin-bottom: 0px;
    border: 5px solid white;
    border-bottom: 14px solid white;
    box-shadow: 0px 0px 4px rgba(19, 19, 19, 0.1);
  }

  .text-left {
    text-align: left;
  }

  header {
    margin-bottom: 10px;
  }

  /* body {
    padding-bottom: 10px;
  } */

  .intro-results-container {
    height: 90vh;
  }

}
