html {
  height: 100vh;
}

body * {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(rgb(46, 46, 154), rgb(14, 12, 58)); */
  /* background-color: blue; */
  color: white;
  margin: 0px;
}

main {
  height: 100%;
}

main, header {
  padding: 20px;
}

h1 {
  font-family: 'Patua One', serif;
  margin-bottom: 10px;
}

button {
  padding: 0px 20px;
  line-height: 36px;
  font-size: 14px;
  border-radius: 5px;
  background: none;
  color: white;
  border: 1px solid white;
  transition: all .3s ease;
}

button:hover {
  /* background: rgba(255, 255, 255, 0.1); */
  opacity: .6;
}

button:focus {
  outline: none;
}

label span {
  transition: all .3s ease;
}

label span:hover {
  opacity: .6;
}

.intro-results-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 90vh;
}

.intro-results-container * {
  margin-bottom: 20px;
}

.container {
  background-color: rgba(255, 255, 255, .3);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0px auto;
  margin-top: 40px;
}

p {
  margin-bottom: 10px;
}

fieldset {
  border: none;
  margin: 0px 20px;
  margin-bottom: 10px;
}

label {
  display: flex;
  line-height: 40px;
  align-items: center;
}

input {
  margin-right: 10px;
  margin-top: 0px;
}

.image {
  height: 200px;
  width: 200px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 20px;
}

.hidden {
  display: none;
}

#layerStars {
  position: absolute;
}

.star {
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
  border-radius: 50%;
  padding: 2px;
}

#baseGradient, #layerGradient {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 30s ease;
  -moz-transition: 30s ease;
  transition: 1s ease;
}

.no-opacity {
  opacity: 0;
}

/* .red-bg {
  background-color:  rgb(250, 75, 0);
  background: linear-gradient(rgb(250, 75, 0), rgb(133, 1, 118));
}

.blue-bg {
  background-color:  rgb(46, 46, 154);
  background: linear-gradient(rgb(46, 46, 154), rgb(14, 12, 58));
} */

.blue-base {
  background: linear-gradient(rgba(46, 46, 154, .0), rgb(14, 12, 58));
}

/* .red-base {
  background: linear-gradient(rgb(250, 75, .0), rgb(133, 1, 118));
} */

.murky-blue-bg {
  background: linear-gradient(270deg, #1b1b52, #192c79, #3e2dab, #03315c);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 30s ease infinite;
  -moz-animation: murkyMovement 30s ease infinite;
  animation: murkyMovement 30s ease infinite;
}

.murky-red-bg {
  background: linear-gradient(270deg, #521b49, #8d1031, #8a176a, #b03301);
  background-size: 800% 800%;

  -webkit-animation: murkyMovement 30s ease infinite;
  -moz-animation: murkyMovement 30s ease infinite;
  animation: murkyMovement 30s ease infinite;
}

@-webkit-keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes murkyMovement {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 10px;
  }
}
